html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #f8f8f8; }

a {
  color: #444;
  text-decoration: underline;
  transition: all 0.2s ease-in-out; }
  a:hover, a:active {
    color: #666; }

.form {
  text-align: left; }

.form-group {
  display: flex;
  align-items: baseline;
  margin-bottom: 2px; }

.form-label {
  flex: 1 2 auto;
  padding-right: 15px;
  white-space: nowrap; }

.form-input {
  flex: 1 100%;
  width: 100%; }

fieldset {
  margin: 0 0 30px 0;
  border-top: 1px solid #e1e1e1; }

legend {
  display: inline-block;
  padding: 0 10px;
  margin: 0 0 30px 20px;
  text-align: left;
  font-size: 2rem; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  height: auto;
  margin: 0;
  padding: 10px 30px;
  font-size: 1.1rem;
  line-height: 1.6;
  border-radius: 5px;
  transition: all 0.1s ease-in-out; }
  .button.button-small,
  button.button-small,
  input[type="submit"].button-small,
  input[type="reset"].button-small,
  input[type="button"].button-small {
    padding: 5px 20px;
    font-size: 0.9rem; }
  .button.button-large,
  button.button-large,
  input[type="submit"].button-large,
  input[type="reset"].button-large,
  input[type="button"].button-large {
    padding: 20px 30px;
    font-size: 1.8rem; }
  .button.button-warning,
  button.button-warning,
  input[type="submit"].button-warning,
  input[type="reset"].button-warning,
  input[type="button"].button-warning {
    color: #fff;
    background-color: #f44;
    border-color: #f44; }
    .button.button-warning:hover, .button.button-warning:focus,
    button.button-warning:hover,
    button.button-warning:focus,
    input[type="submit"].button-warning:hover,
    input[type="submit"].button-warning:focus,
    input[type="reset"].button-warning:hover,
    input[type="reset"].button-warning:focus,
    input[type="button"].button-warning:hover,
    input[type="button"].button-warning:focus {
      background-color: #f00606;
      border-color: #f00606; }
  .button.button-success,
  button.button-success,
  input[type="submit"].button-success,
  input[type="reset"].button-success,
  input[type="button"].button-success {
    color: #fff;
    background-color: #85C346;
    border-color: #85C346; }
    .button.button-success:hover, .button.button-success:focus,
    button.button-success:hover,
    button.button-success:focus,
    input[type="submit"].button-success:hover,
    input[type="submit"].button-success:focus,
    input[type="reset"].button-success:hover,
    input[type="reset"].button-success:focus,
    input[type="button"].button-success:hover,
    input[type="button"].button-success:focus {
      background-color: #76ac3e;
      border-color: #76ac3e; }

.nav {
  background: #0C1C20;
  min-height: 10px; }

.nav__list {
  margin: 0;
  text-align: center;
  list-style: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .nav__list:after {
    content: " ";
    display: block;
    clear: both; }

.nav__item {
  display: inline-block;
  margin: 0 2px;
  color: #ddd; }

.nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  color: inherit;
  text-decoration: none; }

.footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  background: #fcfcfc;
  border-top: 1px solid #f2f2f2; }

.footer__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 80%;
  font-size: 11px;
  color: #666; }

.hero {
  margin-bottom: 30px;
  background: #444 url(../img/bg2.jpg) no-repeat center center;
  background-size: cover; }

.hero__inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center; }
  .hero__inner:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 550px) {
    .hero__inner {
      max-width: 80%; } }

.hero__title {
  color: #eee;
  font-weight: 600;
  font-size: 4rem;
  margin: 3rem 0 1rem; }
  @media (min-width: 750px) {
    .hero__title {
      font-size: 5rem; } }

.hero__subtitle {
  color: #eee; }

.hero__desc {
  color: #ccc;
  margin-bottom: 6rem; }
  @media (min-width: 750px) {
    .hero__desc {
      font-size: 2rem; } }

.note {
  margin: 20px 0;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  background: #fbfbfb;
  border-radius: 5px; }

.note__inner {
  position: relative;
  padding: 10px 10px 10px 60px;
  min-height: 68px; }
  .note__inner i {
    position: relative;
    top: 1px;
    padding-right: 4px;
    color: #666; }

.note__company {
  font-size: 16px;
  font-weight: bold; }

.note__recruiter {
  margin-bottom: 6px; }

.note__email {
  margin-bottom: 1px; }

.note__phone {
  margin-bottom: 4px; }
  .note__phone i {
    top: 2px; }
    .note__phone i:before {
      font-size: 18px; }

.note__description {
  line-height: 1.2;
  margin: 3px 0; }

.note__id {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  font-size: 10px;
  color: #ccc;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .note:hover .note__id {
    opacity: 1; }

.note__cta {
  position: absolute;
  bottom: 0;
  right: 7px;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .note:hover .note__cta {
    opacity: 1; }
  .note__cta i {
    font-size: 16px;
    padding: 10px 5px;
    cursor: pointer; }
    .note__cta i:hover {
      color: #222; }

.list__inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }
  .list__inner:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 550px) {
    .list__inner {
      max-width: 80%; } }

.add-note {
  max-width: 500px;
  margin: 40px auto -50px;
  padding: 30px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.92);
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.3); }

.add-note__submit {
  width: 100%;
  height: 60px;
  margin: 0;
  font-size: 1.5rem; }

.date-label {
  position: absolute;
  top: 7px;
  left: -3px;
  background-color: #333;
  border-radius: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  padding: 4px;
  text-align: center;
  min-width: 45px; }
  .date-label > span {
    display: block; }

.date-label__month {
  font-size: 9px;
  color: #bbb;
  text-transform: uppercase; }

.date-label__day {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.8;
  color: #fff; }

.date-label__year {
  font-size: 9px;
  color: #999;
  padding-top: 3px; }

.side-panel h3 {
  margin-top: 0; }

.side-panel .form-group:last-child {
  margin-bottom: 0; }

.browsehappy {
  padding: 30px;
  margin: 0;
  text-align: center; }
