<div class="well">
    <form>
        <div class="form-group">
            <label for="jobName">Name</label>
            <input type="text" class="form-control" ng-model="editjob.job.name" id="jobName">
        </div>
        <div class="form-group">
            <label for="jobDesc">Description</label>
            <input type="text" class="form-control" ng-model="editjob.job.desc" id="jobDesc">
        </div>
        <div class="form-group">
            <label for="jobCompany">Company</label>
            <input type="text" class="form-control" ng-model="editjob.job.company" id="jobCompany">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Save changes</button>
            <button class="btn btn-default" ui-sref="main">Cancel</button>
        </div>
    </form>
</div>