.note {
    width: 100%;
    margin: 0;
    font-size: 14px;
}

.note__item {
    background-color: $bg-color;
    
    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}

.note__cell {
    padding: 10px;
    line-height: 1.3;
    border-bottom: 1px solid $border-light; 

    i {
        padding-right: 4px;
        vertical-align: middle;
    }
}

.note__date {
    width: 1%;
    padding: 10px 20px;
    background-color: #777;
    border-bottom-color: #888;
    white-space: nowrap;

    .note__item:hover & {
        background-color: #666;
    }
}

.note__company {
    font-weight: bold;
}

.note__email {
    white-space: nowrap;
    
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.note__phone {
    white-space: nowrap;

    i:before {
        font-size: 20px;
    }
}

.note__description {
    width: 40%;
}

.note__cta {
    width: 1%;
    white-space: nowrap;

    i {
        font-size: 16px;
        padding: 10px 5px;
        cursor: pointer;

        &:hover {
            color: #222;
        }
    }
}
