<div class="well">
  <h3>Add a note</h3>
  <h5>Enter details of new note</h5>
  <hr>
  <form>
    <div class="form-group">
      <label for="noteName">Name</label>
      <input type="text" class="form-control" ng-model="add.note.name" id="noteName" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="noteDesc">Description</label>
      <input type="text" class="form-control" ng-model="add.note.desc" id="noteDesc" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="noteCompany">Company</label>
      <input type="text" class="form-control" ng-model="add.note.company" id="noteCompany" autocomplete="off">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-sm" ng-click="add.addNote()">Add new note</button>
      <button class="btn btn-default btn-sm" ui-sref="main">Cancel</button>
    </div>
  </form>
</div>