<div class="date-label">
	<span class="date-label__month">{{note.timestamp | date:"MMM"}}</span>
	<span class="date-label__day">{{note.timestamp | date:"dd"}}</span>
	<span class="date-label__year">{{note.timestamp | date:"yyyy"}}</span>
</div>
<div class="note__company" ng-if="note.company">{{note.company}}</div>
<div class="note__recruiter" ng-if="note.recruiter">{{note.recruiter}}</div>
<div class="note__email" ng-if="note.email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{note.email}}">{{note.email}}</a></div>
<div class="note__phone" ng-if="note.phone"><i class="fa fa-mobile" aria-hidden="true"></i> {{note.phone}}</div>
<div class="note__description" ng-if="note.description"> <i class="fa fa-tags" aria-hidden="true"></i> {{note.description}}</div>
<div class="note__id">{{note.id}}</div>
<div class="note__cta">
	<i class="fa fa-pencil" ng-click="main.edit(note.id)" ui-sref="main.edit({id:note.id})"></i>
	<i class="fa fa-trash-o" ng-click="main.delete(note.id)"></i>
</div>